body {
    margin: 0;
    /* background-color: #f1f1f1; */
    font-family: Arial, Helvetica, sans-serif;
  }
  
#navbar {
    background-color: #333;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }
  
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
#navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  /* End NavBar */

  /* Begin About Page */
  h2{
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 70px;
    position: relative;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    margin: 0 0 15px;
    color: #444;
    line-height: 40px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border-bottom: 2px solid #000;

  }
  h3{
    border-bottom: 2px solid #000;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    margin: 0 0 15px;
    color: #444;

  }
  .text-center{
    text-align: center;
      }
      /* Begin Form Style */
      form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.avatar {
  /* vertical-align: middle; */
  margin-left: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
button:hover {
  opacity: 0.8;
}
form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
